.tile{
	position: relative;
	box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, 0.5);
	-o-box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, 0.5);
	-ms-box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, 0.5);
}
.newsitem.tile{
	
	/*
	border: 1px solid rgba(67,74,83,0.2);
	background-color: rgb(211, 209, 185);
	background-color: rgba(63,63,63,1);	
	*/

}

.newsitem.tile.has-image.wide{

}

.newsitem.tile.has-image{

}

.newsitem.tile.no-image{

}


.newsitem.tile .bottom-bar{
	border-top: 1px dashed #aaa;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgb(240,240,240);
}

.newsitem.tile .textcontainer{
	font-family: 'Noto Serif', serif;
	color: #444;
	padding: 2%;
	font-size: 10pt;
	line-height: 1.3em;	
	text-align: left;
	padding-bottom: 20px;
	
	border-top: 1px solid #222;	
	position: relative;
	top: 0px;
	left: 0px;
	padding: 4%;
	background-color: rgb(255,255,255);
}


/*
.newsitem.tile .textcontainer:not(.one-row):before{
	content: "";
	position: absolute;
	left: 20%;
	margin-left: -16px;
	top: -17px;
	
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid rgba(0, 0, 0, 1);
}

.newsitem.tile .textcontainer:not(.one-row):after{
	content: "";
	position: absolute;
	left: 20%;
	margin-left: -16px;
	top: -16px;
	
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid rgb(240, 240,240);
}
*/

.newsitem.tile .newsitem-imagecontainer{
	position: relative;
}
.newsitem.tile .header-container, .page-header-container{
	
}

.newsitem.tile h2{	
	
	padding-bottom: 20px;
	padding-top: 20px;

	width: 90%;
	margin-left: 5%;
	
	word-wrap: break-word;
	font-size: 16pt;	
	text-align: center;
	
	color: #fff;
	text-shadow: 0px 0px 10px #000;
}

.newsitem.tile.no-image h2{	
	bottom: 0%;	
	position: relative;
	
}

.newsitem.tile.has-image .image-item-header-container{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.newsitem.tile img{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.newsitem.tile span{
	font-size: 10pt;
	color: #444;
	padding: 0px;
	margin: 10px;
	display: inline-block;		
}

.newsitem.tile.has-image .category{
	display: none;
}

.newsitem.tile .category{
	display: none;
	position: absolute;
	top: 0px;
	left:0px;
	width: 10%;
	height: 100%;
	font-size: 8pt;
	padding: 5px;
	color: #fff;
}


.newsitem.tile .content{
	position: relative;
}











.small-items-list li{
	padding: 15px;
	font-size: 14pt;
}



.newsitem.tile.has-image.important{
	width: 100%;
}

.newsitem.tile .image-text{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top:10px;
	padding-bottom:20px;
	color: #eee;
}

.newsitem.tile .image-text p{
	margin-left:20px;
	margin-right: 20px;
}

.newsitem.tile.small-item.no-image .textcontainer{
	display: none;	
}

.newsitem.tile.small-item.no-image .bottom-bar{
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 34px;
	overflow: hidden;
	background-color: rgb(240,240,240);
}

.newsitem.tile.small-item.no-image .header-container{
	position: relative;
	
	width: 100%;
	height: 100%;
	margin-bottom: 20px;

	padding: 0%;
}

.newsitem.tile.small-item.no-image .header-container h2{
	position: relative;
	margin: 5%;
	width: 90%;
	font-size: 20pt;
	text-align: left;
}


.category{
	position: relative;
	display: inline-block;
	vertical-align:  top;
	overflow: hidden;
	cursor: pointer;

	
}

.category img{
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
}

.category h4{
	font-size: 20pt;
	text-transform: uppercase;
	position: absolute;
	bottom:0px;
	
	color: #fff;	

	width: 100%;
	
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}


.newsitem.tall-image.double-size{

}

.newsitem.tall-image.double-size .newsitem-imagecontainer img,.newsitem.tall-image.one-row .newsitem-imagecontainer img{
	width: 60%;
}


.newsitem.tall-image.double-size .newsitem-imagecontainer .image-item-header-container,.newsitem.tall-image.one-row .newsitem-imagecontainer .image-item-header-container{
	width: 40%;
	position: absolute;
	left: 60%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	
	text-align: center;
}
.text-arrow{
	display: none;
}
.category-title{
	position: relative;
	
}
.category-title h2{
	font-size: 30pt;
	text-align: center;
	color: rgba(250,250,250,0.9);
	text-transform: uppercase;
}

.newsitem.tall-image.double-size .newsitem-imagecontainer .image-item-header-container .text-arrow,.newsitem.tall-image.one-row .newsitem-imagecontainer .image-item-header-container .text-arrow{
	display: block;
	position: absolute;
	
	width: 64px;
	height: 64pX;
	bottom: 20%;
	left: -32px;

	-webkit-transform: rotate(45deg);
	-moz--transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
.newsitem.tall-image.double-size .newsitem-imagecontainer .image-item-header-container h2,.newsitem.tall-image.one-row .newsitem-imagecontainer .image-item-header-container h2{
	font-size: 36pt;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
	
	text-shadow: none;
	width: 90%;
	margin-left: 5%;
	margin-top: 40%;
}


.newsitem.tall-image.double-size .textcontainer,.newsitem.tall-image.one-row .textcontainer{
	position: absolute;
	bottom: 38px;
	right: 0px;
	width: 36%;
	color: #fff;
	background-color: transparent;
	padding: 2%;
	left: auto;
	top: auto;
	font-size: 13pt;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 200px;
	border-top: none;	
}

@media all and (max-width: 800px){
	.newsitem.tall-image.double-size .newsitem-imagecontainer .image-item-header-container h2,.newsitem.tall-image.one-row .newsitem-imagecontainer .image-item-header-container h2{	
		font-size: 20pt;
	}
}

/*
.newsitem.tall-image.double-size .newsitem-imagecontainer .image-item-header-container:before,.newsitem.tall-image.one-row .newsitem-imagecontainer .image-item-header-container:before{
	position: absolute;
	bottom: 10%;
	left: -32px;
	content: "";

	border-right: 32px solid #fff;
	border-top: 32px solid transparent;
	border-bottom: 32px solid transparent;
}
*/

@media all and (max-width: 1200px){
	.newsitem.tile h2{
		font-size: 16pt;
	}
}


@media screen and (max-width: 600px){
	.newsitem.tall-image.double-size .newsitem-imagecontainer .image-item-header-container .text-arrow,.newsitem.tall-image.one-row .newsitem-imagecontainer .image-item-header-container .text-arrow{
		width: 32px;
		height: 32px;
		bottom: 10%;
		left: -16px;

		-webkit-transform: rotate(45deg);
		-moz--transform: rotate(45deg);
		-o-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}	
	.newsitem.tall-image.double-size .newsitem-imagecontainer .image-item-header-container h2,.newsitem.tall-image.one-row .newsitem-imagecontainer .image-item-header-container h2{	
		font-size: 16pt;
	}
	.newsitem.tall-image.double-size .textcontainer,.newsitem.tall-image.one-row .textcontainer{
		/*
		font-size: 8pt;
		padding: 5px;
		min-height: 10px;
		max-height: 50%;
		top: 45%;
		*/
		display: none;
	}
}