.news-category-page{
	height: 100%;
	overflow-y: scroll;
}


.category-header{
	height: 100%;
	width: 10%;
	position: absolute;
}

.category-header h2{
	font-size: 36pt;
	position: absolute;
	color: #fff;
	top: 50%;
	left:-20%;
	text-shadow: 0px 0px 5px #000;
	filter: dropshadow(color=#000, offx=0, offy=0);

	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;
}


.category-container{
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

.container-left{
	margin-left: 10%;
}

.container-mid{
}

.container-right{
}

.item.tile{
	
	width: 100%;
	
	display: inline-block;
	vertical-align: top;
}

.item.tile .container{
	overflow: hidden;
	border-radius: 2px;
	position: relative;
	width:100%;

	/*
	margin: 1%;
		border: 1px solid #aaa;
		background-image: url('creampaper.png');
	box-shadow:  0px 0px 14px 0px rgba(0, 0, 0, 0.2);
	*/
}

.item.tile.no-image .container{

}



.item.tile .textcontainer{
	padding: 2%;
	font-size: 10pt;
	color: #fff;
	line-height: 1.3em;
	
	text-align: left;
}

.item.tile.has-image .textcontainer{
	position: relative;
	
	top: 0px;
	left: 0px;
	color: #fff;
	padding: 4%;
}

.item.tile.no-image .textcontainer{
	width: 80%;
	margin-left: 7%;
	position: relative;
}

.item.tile h2{
	margin-bottom: 20px;
	margin-top: 10px;
	max-width: 100%;
	word-wrap: break-word;
	font-size: 16pt;
	color: #fff;
	display: inline-block;
	text-align: center;
	text-shadow: 0px 0px 5px #000;
	filter: dropshadow(color=#000, offx=0, offy=0);
}

.item.tile.no-image h2{
	padding: 0px;
	bottom: 0%;	
	
	text-shadow: none;
	position: relative;
	text-align: left;
	font-weight: normal;
	padding: 2% 5% 2% 5%;
}

.item.tile.thin h2{
	bottom: 10%;
}

.item.tile.important h2{
	bottom: 20%;
}

.item.tile .img-container{
	position: relative;
	width: 100%;
	overflow: hidden;
}

.item.tile .img-container img{
	width: 100%;		
}

.item.tile .date{
	display: none;
	font-size: 8pt;
	color: #222;
	position: absolute;
	top:0px;
	left: 0px;
	padding: 5px;
}

.item.tile.has-image .category{
	display: none;
}

.item.tile .category{
	display: none;
	position: absolute;
	top: 0px;
	left:0px;
	width: 10%;
	height: 100%;
	font-size: 8pt;
	padding: 5px;
	color: #fff;
}


.item.tile .content{
	position: relative;
}







.small-items-list li{
	padding: 15px;
	font-size: 14pt;
}



.item.tile.has-image.important{
	width: 100%;
}

.item.tile .image-text{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-top:10px;
	padding-bottom:20px;
	color: #eee;
}

.item.tile .image-text p{
	margin-left:20px;
	margin-right: 20px;
}















