#pane-list{
	min-height:100%;
	width: 25%;
	min-width: 300px;
	max-width: 400px;

	border-right: 8px solid #444; 
}

#pane-list ul{
	position: relative;
	counter-reset: listcounter;
}

#pane-list ul li{
	counter-increment: listcounter;
	position: relative;
	height: 72px;
	border-bottom: 1px dashed #ddd;
	overflow: hidden;
}

#pane-list ul li:hover{
	background-color: rgba(69,201,244,0.8);
}

#pane-list ul img{
	max-height: 100%;
	float: left;
}

#pane-list ul li h4{
	max-width: 66%;
	font-size: 12pt;
	font-weight: bold;
	float: left;
	margin: 15px;
	color: #666;
	word-wrap: break-word;
}

#pane-list ul li span{
	font-size: 8pt;
	color: #666;
	position: absolute;
}

#pane-list ul li span.category{
	top: 0px;
	right: 0px;
	padding: 10px;

}

#pane-list ul li span.pubdate{
	bottom: 0px;
	right: 0px;
	padding: 10px;
}

#pane-list ul li.no-image h4{
	margin-left: 87px;
}


#pane-list ul li.no-image:before{
	position: absolute;
	content: counter(listcounter);
	font-size: 72pt;
	font-weight: bold;
	overflow: hidden;
	color: #eee;
	left: 0px;
	top: 0px;
	width: 72px;
	height: 72px;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
}