#main-pane{
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.9);
}	

#right-pane{
	box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.9);
}	


#page{
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: #fff;
}
#page-scroll{
	position: relative;
	padding-bottom: 100px;
}

#list-pane{
	background-image: url('creampaper.png');
}

#page .news-page{
	width: 100%;
	margin: 0%;
	padding-bottom: 50px;
}

#page .news-page .imagecontainer{
	position: relative;
	width: 100%;
	background-image: url('grey_wash_wall.png');
}
#page .news-page .imagecontainer img{
	width: 90%;
	margin-left: 5%;
}

#page .news-page h1{
	padding: 20px;
	font-size: 30pt;
}

.top-edge{
	width: 100%;
	height: 25px;
	position: absolute;
	top: 0px;
	left:0px;
	background-image: url('edge_up.png');
	background-repeat: repeat-x;
}

.bottom-edge{
	width: 100%;
	height: 25px;
	background-image: url('edge_down.png');
	background-repeat: repeat-x;
	position: absolute;
	bottom: 0px;	
	left:0px;
}

#page span.category{
	display: none;
	padding: 20px;
	font-size: 20pt;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #fff;
	z-index: 10;
}

#page.has-image .news-page h1{
	max-width: 80%;
	padding: 20px;
	font-size: 30pt;
	position: absolute;
	bottom: 10%;
	right: 0%;
	color: #fff;
	overflow: hidden;
	word-wrap: break-word;

	text-shadow: 1px 0px 10px #000;
    filter: dropshadow(color=#000, offx=1, offy=0);
}

#page.no-image .news-page .header{
	padding-top: 70px;
	padding-bottom: 20px;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	border-bottom: 8px solid #444;
}


#page  .news-page .textcontainer{
	
	width: 90%;
	
	padding: 5%;
	
	margin-top: 2%;
	
}

#page  .news-page .textcontainer strong{
	font-weight: bold;
	font-style: italic;
	padding:10px;
}

#page  .news-page .textcontainer h2{
	font-weight: bold;
	font-size: 16pt;
	margin-top: 20px;
	margin-bottom: 20px;
}


#page  .news-page .textcontainer p{
	text-align: justify;
	line-height: 1.2em;
	margin-top: 1em;
	font-size: 12pt;
}


@media all and (min-width: 1600px){
	#page .news-page .textcontainer{
		width: 70%;
		margin-left: 10%;
	}
}