#page{
	width: 100%;
	height: 100%;
	margin: 0;
}
#page-scroll{
	padding-bottom: 100px;
}

#list-pane{
	background-image: url('creampaper.png');
}

#page .news-page{
	width: 90%;
	margin: 5%;
	background-image: url('creampaper.png');
	padding-bottom: 50px;
	padding-top: 20px;
-webkit-box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.4);
        box-shadow:  0px 0px 20px 0px rgba(0, 0, 0, 0.4);
}

#page .news-page .imagecontainer{
	position: relative;
	width: 100%;
}
#page .news-page .imagecontainer img{
	width: 100%;
}

#page .news-page h1{
	padding: 20px;
	font-size: 30pt;
}

#page span.category{
	display: none;
	padding: 20px;
	font-size: 20pt;
	position: absolute;
	right: 0px;
	top: 0px;
	color: #fff;
	z-index: 10;
}

#page.has-image .news-page h1{
	max-width: 80%;
	padding: 20px;
	font-size: 30pt;
	position: absolute;
	bottom: 20%;
	right: 0%;
	color: #fff;
	overflow: hidden;
	word-wrap: break-word;

	text-shadow: 1px 0px 10px #000;
    filter: dropshadow(color=#000, offx=1, offy=0);
}

#page.no-image .news-page .header{
	margin-top: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	border-bottom: 8px solid #444;
}


#page  .news-page .textcontainer{
	width: 80%;
	margin: 10%;
}

#page  .news-page .textcontainer strong{
	font-weight: bold;
	font-style: italic;
	padding:10px;
}

#page  .news-page .textcontainer h2{
	font-weight: bold;
	font-size: 16pt;
	margin-top: 20px;
	margin-bottom: 20px;
}


#page  .news-page .textcontainer p{
	text-align: justify;
	line-height: 1.2em;
	margin-top: 1em;
}