
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	font-family: arial;
	font-weight: normal;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
}

.pane{
	overflow: hidden;

}


.blur{
	-webkit-filter: blur(5px);
}


h1,h3,h4,h2, .button-text{
	/*
	font-family: 'Coda Caption', sans-serif;
	font-family: 'Amethysta', serif;
	font-family: 'Noto Sans', sans-serif;
	*/
	font-family: 'Noto Serif', serif;

}

p{
	/*font-family: 'Oxygen', sans-serif;*/
	font-family: 'Noto Serif', serif;
	font-weight: 300;
}




#page p{
	font-weight: 400;
}


#wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;	
	background-color: #fff;
/*	background-image: url('creampaper.png');*/
}


#main{
	min-width: 100%;
	height: 100%;
}

#main-pane{
	position: absolute;
	top:0px;

	width: 100%;
	height: 100%;
}


#left-pane{
	position: absolute;
	top:0px;
	left:0px;
	height: 100%;
}

#left-pane #page-container{
	position: absolute;
	right: 0px;
	top: 0px;
	width: 75%;
	height: 100%;
}


#left-pane #list{

}

#right-pane{
	position: absolute;
	height: 100%;
	max-width: 250px;
	min-width: 100px;
	width: 25%;
}

#date-menu{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 100%;

	background-color: #ffffff;
	display: none;
}

#menu{
	position: absolute;
}


#overlay{
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	z-index: 349873;
}

#loading{
	display: none;
	font-size: 70pt;
	position: absolute;
	top: 50%;
	left: 0%;
	width: 100%;
	text-align: center;
	color: rgba(255,255,255,1);
	margin-top: -35pt;
	text-shadow: 1px 1px 2px #ddd;
}

#startup-screen h1{
	position: absolute;
	top: 50%;
	left:0px;
	width: 100%;
	font-size: 80pt;
	font-weight: bold;
	font-family: arial black, helvetica;
	margin-top: -40pt;
	text-align: center;
	color: rgba(100,100,100,0.5);
	text-transform: uppercase;
	text-shadow: 2px 2px 1px #fff;
    filter: dropshadow(color=#fff, offx=2, offy=2);	
}