
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:700,400);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif:400,700);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	font-family: arial;
	font-weight: normal;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
*{
	margin: 0;
	padding: 0;
}

.pane{
	overflow: hidden;

}


.blur{
	-webkit-filter: blur(5px);
}


h1,h3,h4,h2, .button-text{
	/*
	font-family: 'Coda Caption', sans-serif;
	font-family: 'Amethysta', serif;
	font-family: 'Noto Serif', serif;
	*/
	font-family: 'Noto Sans', sans-serif;
	color: #1d3037;

}

p, body{
	/*font-family: 'Oxygen', sans-serif;*/
	font-family: 'Noto Serif', serif;
	font-weight: 300;
}

#wrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;	
	
/*	
	background-image: url('grey_wash_wall.png');
background-image: url('creampaper.png');
	background-color: rgb(211, 209, 185);
*/
}


#main{
	min-width: 100%;
	height: 100%;
}

#main-pane{
	position: absolute;
	top:0px;

	width: 100%;
	height: 100%;
}

#main-pane-content{
	width: 90%;
	margin-left: 5%;
	padding-top: 60px;
	padding-bottom: 60px;
}

#left-pane{
	position: absolute;
	top:0px;
	left:0px;
	height: 100%;
}

#left-pane #list{

}

#right-pane{
	position: absolute;
	top: 0px;
	height: 100%;
}

#date-menu{
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100%;
	height: 100%;

	background-color: #ffffff;
	display: none;
}

#menu{
	position: absolute;
}

#loading-overlay{
	background-color: rgba(0,0,0,0.5);
}


#overlay{
	background-color: rgb(211, 209, 185);
}

#overlay .main-title,#loading-overlay .main-title{
	font-size: 40pt;
	width: 100%;
	text-align: center;
	
	position: absolute;
	top: 50%;
	left: 0%;
	margin-top: -35pt;
	text-transform: uppercase;
	color: #1d3037;
	
	text-shadow: 1px 1px 0px #fff;
	font-weight: bold;
}

#overlay .sub-title,#loading-overlay .sub-title{
	font-size: 20pt;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	left: 0%;
	margin-top: 35pt;
	color: #1d3037;	
}

#overlay img{
	position: absolute;
	right: 50px;
	bottom: 50px;
	opacity: 0.7;
}

#overlay .error{	
	font-size: 16pt;
	width: 100%;
	text-align: center;
	text-transform: lowercase;
	position: absolute;
	top: 50%;
	margin-top: 80pt;
	left: 0%;
	
	

	
	color: #f27935;
}


#brand-display{
	width: 100%;	
	height: 170px;
	position: relative;

}

#brand-display h2.title{
	font-size: 36pt;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: #1d3037;	
	position: absolute;
	top: 50%;
	margin-top: -18pt;

	/*text-shadow: 1px 1px 0px #aaa;*/
	font-weight: bold;
}

#brand-display h2.datetime{
	font-size: 20pt;
	position: absolute;
	left: 0px;
	bottom: 20px;
	width: 100%;
	text-align: center;
}

#menu-container{
	width: 90%;
	margin-left: 5%;
	padding-bottom: 60px;
}

#menu-container-scroller{
	width: 100%;
	position: relative;
	margin: 0px;
	padding: 0px;
}

@media screen and (max-width: 600px){
	#main-pane-content{
		width: 98%;
		margin-left: 1%;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	#brand-display h2.title{
		font-size: 20pt;
	}

	#brand-display h2.datetime{
		font-size: 16pt;
	}

	#overlay .main-title,#loading-overlay .main-title{
		font-size: 30pt;
	}

	#overlay .sub-title,#loading-overlay .sub-title{
		font-size: 16pt;
	}
	
	#overlay img{
		position: absolute;
		right: 0px;
		bottom: 0px;
		opacity: 0.2;
		width: 25%;

	}
}


