#toolbar{
	position: absolute;
	top:0px;
/*
	-webkit-box-shadow: inset  0px 0px 50px rgba(0, 0, 0, 1);        
    box-shadow: inset  0px 0px 50px rgba(0, 0, 0, 1);
*/
}
#toolbar_scroll #toolbar{
	min-width: 100%;
}

#toolbar .toolbar-button{
	position: relative;
	display: inline-block;
	/*overflow: hidden;*/

	height: 100%;
}

/*
#toolbar .toolbar-button.selected:before{
	content:" ";
	position: absolute;
	left: 0px;
	border-left: 64px solid #fff;
	border-top:64px solid transparent;
	border-bottom:64px solid transparent;
}
*/

#toolbar .toolbar-button-container{
	width: 100%;
	margin-left: 0%;
	position: relative;
}

#toolbar .toolbar-scroll{
	position: relative;
}

#toolbar .toolbar-panel{
	width: 20%;
	margin-left: 0%;
	position: absolute;
	left: 0px;
	top:0px;
	min-height: 100%;
}




#toolbar .toolbar-button.selected:after{
	content:" ";
	position: absolute;
	top:100%;
	left: 50%;

	margin-top: -16px;
	margin-left:-32px;
	
	border-top: 16px;
	border-left: 32px solid transparent;
	border-right: 32px solid transparent;
}

#toolbar .toolbar-button h4{
	position: relative;
	font-size: 20pt;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;

	top: 50%;
	margin-top: -20pt;

	text-shadow: 0px 0px 5px #000;
	filter: dropshadow(color=#000, offx=0, offy=0);
	-webkit-user-select:none;
}

#toolbar .toolbar-button span{
	font-size: 56pt;
	font-weight: bold;
	position: absolute;
	top: 20px;
	right: 15px;
	color: rgba(255,255,255,0.3);
	z-index: 0;
	-webkit-user-select:none;
}