

#top-bar{
	position: absolute;
	width: 100%;
	height: 64px;
	background-color: rgba(255,255,255,1);
	/*box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.7);*/
	z-index: 1000;

	overflow: hidden;
}

#top-bar.on-touch{
	opacity: 0.5;
}


#top-bar #date{
	position: absolute;
	top: 10pt;
	left: 10%;
	height: 44px;
	font-size: 30pt;
	color: #444;
	font-weight: bold;
}

@media all and(max-width: 900px){
	#top-bar #date{
		position: absolute;
		top: 20pt;
		left: 10%;
		font-size: 20pt;
		color: #444;
		font-weight: bold;
	}
}

@media all and(max-width: 700px){
	#top-bar #date{
		position: absolute;
		top: 10pt;
		left: 10%;
		font-size: 11pt;
		color: #444;
		font-weight: bold;
	}
}


#brand{
	text-align: center;
	width: 400px;
	position: relative;
	left: 50%;
	height: 64px;
	margin-left: -200px;
}


#brand img{
	height: 100%;
}

#top-menu-list-container{
	position: absolute;
	top: 72px;
	width: 100%;
	height: 128px;
	background-image:url('grey_wash_wall.png');
	box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.9);
}



#top-menu-list .top-menu-button{
	width: 96px;
	height: 80%;
	display: inline-block;
	background-color: rgba(255,255,255,1);
	margin-left: 10px;
	margin-top: 10px;
	
	position: relative;
}

#top-menu-list .top-menu-button span{
	font-size: 12pt;
	font-weight: bold;
	color: #000;
	text-align: center;
	width: 100%;
	display: block;
}

#top-menu-list .top-menu-button span.date{
	position: absolute;
	bottom: 10px;
	
}

#top-menu-list .top-menu-button span.count{
	position: absolute;
	top: 50%;
	font-size: 40pt;
	margin-top: -20pt;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: rgba(0,0,0,0.5);
}

#top-menu-list .top-menu-button.selected{
	border: 2px solid #d00;
}
