
#usertracker{
	position:absolute;
	top:-20px;
	left:-43px;
	width:128px;
	height:72px;
	background-color:#d00;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
}

#usertracker h3{
	width:100%;
	position:absolute;
	left:0px;
	top:50%;
	margin-top:-10pt;
	text-align:center;
	color:#fff;
	font-weight:bold;
	font-size:15pt;
}

#usertracker span{
	font-size: 8pt;
	color: #fff;
	position: absolute;
	bottom:10px;
	left: 0px;
	display: block;
	width: 100%;
	text-align: center;
}

#usertracker-login{
	position: fixed;
	z-index: 1000;
	width: 100%;	
	height: 100%;
	background-color: rgba(0,0,0,0.7);	
}

#usertracker-login input{
	display: inline-block;
	vertical-align: top;
	position: relative;	
	padding: 20px;
	width: 50%;
	margin-left: 15%;
	font-size: 20px;
	border: 0px;
	border-radius: 5px;
}

#usertracker-login h3{	
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	
	
	font-size: 26pt;
	font-weight: bold;
	color: #aaa;
}

#usertracker-login button{	
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 10%;
	height: 100%;
	margin-left: 1%;
	border: 1px solid #fff;
	border-radius: 2px;
	font-size: 16pt;
	font-weight: bold;
	color: #222;
	background-color: rgba(255,255,255,1);
}

#usertracker-login-input-container{
	position: absolute;
	height: 64px;
	width: 100%;
	top: 50%;
	margin-top: -32px;
}