.gridmenu-button{
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.gridmenu-button.selected{
	-webkit-filter: grayscale(1);
}

.gridmenu-button-textcontainer{
	width: 90%;
	height: 90%;
	margin: 5%;
	position: relative;
}

.gridmenu-button-textcontainer span.small-text{
	font-size: 15pt;
	font-family: arial narrow;
	color: rgba(255,255,255,1);
	position: absolute;
	right: 5px;
	top:5%;
}

.gridmenu-button-textcontainer span.large-text{
	font-family: arial narrow;
	font-size: 30pt;
	color: rgba(255,255,255,1);
	position: absolute;
	width: 100%;
	text-align: center;
	top:50%;
	margin-top: 0pt;
	
    
}